@use "./variables" as v;
@use "./mixins.scss" as m;

*,
*::before,
*::after {
  box-sizing: inherit;
  // min-height: 0;
  // min-width: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  // font-size: 0.83vw;

  @include m.mw(v.$ldt) {
    font-size: 1.11vw;
  }

  @include m.mw(v.$dt) {
    font-size: 1.2vw;
  }

  @include m.mw(v.$tb) {
    font-size: 2.66vw;
  }

  @include m.mw(v.$ph) {
    font-size: 4.45vw;
  }
}

body {
  @include m.font("Maza");
  // background-color: #5e4c89;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: v.$text-dark;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #4888ff;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(255 255 255 / 50%);
    border-radius: 0.2rem;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

h1,
h2,
h3,
h4,
p,
figure,
fieldset,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

input,
button,
select,
a,
textarea,
label,
div {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

fieldset {
  padding: 0;
  border: none;
}

input,
a {
  &:focus {
    outline: none;
  }
}

button {
  padding: 0;
  border: none;

  &:focus {
    outline: none;
  }
}

.page-body {
  &--overflow {
    overflow: hidden;
  }
}

.page-main {
  @include m.mw(v.$tb) {
    padding-top: 10.5rem;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text;
}

.container {
  max-width: v.$width-dt + v.$gap * 2;
  margin-right: auto;
  margin-left: auto;
  padding-right: v.$gap;
  padding-left: v.$gap;

  &--header {
    max-width: v.$width-dt + v.$gap * 2 + 120px;
  }
}

main {
  flex-grow: 1;
  padding-top: 11rem;
}

// * {
//   outline: 1px solid #ff6347;
// }
