footer.main-footer
	.main-footer__inner.container
		.main-footer__top
			//- a.main-footer__logo(href="/index.html")
				+img-retina(`logo`, `png`, `логотип`, `main-footer__logo-img`, `200`, `63`)

			//- a.main-footer__up-link(href="#" aria-label="В начало")

		.main-footer__bottom
