//- script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=cf1c1431-1386-4d22-ba10-fe09e8ffcd25;lang=ru_RU&amp;load=Map,Placemark,Layer")
//- script(src="/js/script.js" type="module")

script(src="/js/script.js")
