 
nav.header-main__nav.nav#menu.scroll-section
  ul.nav__list 
    li.nav__item.nav__item--spec.spec
      .spec__addr 
        +top_link('Сайлент-Хилл', 'mark', 'addr', '/#map', 'spec')
        +schedule('spec', 'clock')
      +soc('spec')


    +menu([...catalog_mob, ...nav], 'header')

    li.nav__item.nav__item--bottom
      +top_link('Доставка', _, 'delivery', '/#delivery')
    li.nav__item.nav__item--bottom
      +top_link('Оплата', _, 'pay', '/#pay')
    li.nav__item.nav__item--bottom
      +top_link('Контакты', _, 'contacts', '/#contacts')


    


                

                
                
                
